{% extends "learning_logs/base.html" %}

{% block content %}

    <h3>Tópico: {{ topic }}</h3> <!--Quando tem chaves uma dentro da outra {{variavel}} é a sintaxe que o django usa para ler variáveis.-->
    <p>Entradas: </p>
    <ul>
        {% for entry in entries %} <!--Começa o for-->
        
        <li>
            <p>{{ entry.date_added | date:'M d, Y H:i'}}</p> <!--O pipeline "|" adiciona um filtro na informação que o django está trazendo-->
            <p>{{ entry.text | linebreaks}}</p>
        </li>
        {% empty %}
        <li>
            Não há registro.
        </li>
        
        {% endfor %} <!--Encerra o for-->
    </ul>

{% endblock content %}